<h2 class="text-center">About Us</h2>
<div class="container border border-success p-3 rounded-3">
  <h1 class="display-3 text-center" style="border-bottom: 2px solid lightgreen;">Benvenuto since 1977!</h1>
  <p class="display-6">
    Welcome to our restaurant! We are passionate about providing our customers
    with delicious meals and exceptional service. Our chefs use only the
    freshest ingredients to create a menu that satisfies every palate. We pride
    ourselves on creating a warm and inviting atmosphere where you can relax and
    enjoy a memorable dining experience. Thank you for choosing our restaurant.
  </p>
</div>
