<div class="hero">
  <div class="banner">
    <div class="blur p-3 py-md-5">
        <h1 style="font-family: 'Zeyada', cursive" class="display-1">
          Benvenuto al Ristorante Il Gambero Rosso
        </h1>
        <h3 style="font-family: 'Inter', sans-serif" class="fs-4 my-4">
          Delivering quality for more than 50 years!
        </h3>
        <button routerLink="/menu" class="btn btn-success w-50 mx-auto mt-4">
          Our Menu
        </button>
    </div>
  </div>
  <section class="my-5 container d-flex flex-column flex-md-row align-items-center">
    <img
      src="https://images.unsplash.com/photo-1551218808-94e220e084d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
      alt=""
      class="rounded"
    />
    <div class="ms-3 p-3 text-center">
      <h2>A little thing about us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi cumque ad
        delectus quia qui ut officia facilis Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi cumque ad
        delectus quia qui ut officia facilis, autem illo nulla.
      </p>
    </div>
  </section>
  <section class="container text-center my-5">
    <h1>Why Choose us?</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam magnam dolorum aspernatur nemo, sint nihil vero vel laboriosam neque quo.</p>
    <div class="container d-flex my-3 flex-column flex-md-row justify-content-between">
        <div class="p-3 border m-1 rounded">
            <h1>Lorem, ipsum.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate a enim sequi culpa dolorum fugit.</p>
        </div>
        <div class="p-3 border m-1 rounded">
            <h1>Lorem, ipsum.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate a enim sequi culpa dolorum fugit.</p>
        </div>
        <div class="p-3 border m-1 rounded">
            <h1>Lorem, ipsum.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate a enim sequi culpa dolorum fugit.</p>
        </div>
    </div>
  </section>
</div>
